body {
    font-family: system-ui,  Arial, sans-serif;
    text-align: center;
    background-color:
    #a3a0be;
    margine:0;
    padding: 50px;
}
h1{color: #000000;
}
p
 { font-size: 18px;
}